html {
	font-family: Verdana;
	background-color: black;
	text-align: center;
}

h1 {
	font-size: 50px;
	color: white;	
	font-weight: normal;
}

h2 {
	font-size: 42px;
	color: white;
	font-weight: 300;
}

h3 {
	font-size: 21px;
	color: Gray;
	font-weight: normal;
}

a {
	color: Aquamarine;
	font-size: 16px;
}

.footer {
	text-align: right;
	font-size: 21px;
	color: Gray;
}
